# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Local dev artifacts
*.env
*.db
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Test / coverage
htmlcov/
.coverage
.pytest_cacheu/

# Docker files
.dockerignore
Dockerfile
docker-compose.yml
