SECRET_KEY=insert_secret_key
DEBUG=TRUE
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,https://itclub.akal.com.np
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DATABASE_MODE=mysql

DATABASE_NAME=db.sqlite3

MYSQL_DATABASE=mydb
MYSQL_USER=myuser
MYSQL_PASSWORD=mypassword
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_HOST=db
MYSQL_PORT=3306