{% extends 'dashboard/base.html' %}

{% block page_title %}Delete Member{% endblock %}

{% block content %}
<style>
.box{
  max-width:420px;
  margin:40px auto;
  background:#fff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,.08);
  text-align:center;
}
button{
  background:#dc2626;
  color:#fff;
  border:none;
  padding:6px 12px;
  border-radius:5px;
}
a{
  margin-left:10px;
  text-decoration:none;
  color:#2563eb;
}
</style>

<div class="box">
  <h3>Are you sure you want to delete "{{ object.name}}"?</h3>

  <form method="POST">
    {% csrf_token %}
    <button type="submit">Yes, Delete</button>
    <a href="{% url 'dashboard:member_list' %}">Cancel</a>
  </form>
</div>
{% endblock %}
